@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');


:root {
    --button-bg: #748BF8;
    --button-hover-bg: #6610f2;
    --hover-link: #0d6efd;
    --hover-create: #61ce70;
    --dashboard-bg: #0f1131;
    --card-border: #9395ab;
    --cardButton-bg: #ff209f;
}

